// ===== header =========
.main-header
	.container.main-logo__wrap
		.main-logo
			img(src="img/logo.png" alt="ФОРТУНА - юридический центр")
	.main-header__top
		.container
			span.addr
				i.icon.icon-addr
				| м. Щукинская, ул. Маршала Василевского, д. 17, 3 этаж
			.phone-info
				span Звонок по России бесплатный
				span.tel +7 (495) 968 30 80
				a.btn.btn--brown(href="#") Заказать звонок
	.main-header__bot
// ===== header end =====

