ul.left-menu
	li.active
		span Физическим лицам
		ul
			li: a(href="#") Уголовное право
			li: a(href="#") Наследственные споры
			li: a(href="#") Административные нарушения
			li: a(href="#") Взыскание долгов
			li: a(href="#") Помощь призывникам 
			li: a(href="#") Трудовые правоотношения
			li: a(href="#") Налоговые споры
			li: a(href="#") Корпоративное право
			li: a(href="#") Экономические преступления
			li: a(href="#") Помощь юриста по алиментам
			li: a(href="#") Помощь адвоката: заявление в суд
			li: a(href="#") Сопровождение банкротства
			li: a(href="#") Адвокат по наследственным делам
	li
		span Юридическим лицам
		ul
			li: a(href="#") Уголовное право
			li: a(href="#") Наследственные споры
			li: a(href="#") Административные нарушения
			li: a(href="#") Взыскание долгов
			li: a(href="#") Помощь призывникам 
			li: a(href="#") Трудовые правоотношения
			li: a(href="#") Налоговые споры
			li: a(href="#") Корпоративное право
			li: a(href="#") Экономические преступления
			li: a(href="#") Помощь юриста по алиментам
			li: a(href="#") Помощь адвоката: заявление в суд
			li: a(href="#") Сопровождение банкротства
			li: a(href="#") Адвокат по наследственным делам
