extends _template

block main
	.inner-page.bg-gray
		.inner-page__header
			.container
				ul.breadcrumbs
					li: a(href="#") Главная
					li: a(href="#") О нас
				h1 О нас
		.container
			.inner-left
				.inner-section
					include includes/left-menu
			.inner-right
				.inner-section
					h2 Юридический центр «Фортуна»
					p Ведущие юридические компании мира создали новый стандарт обслуживания клиентов и предложили людям и предприятиям непревзойденный уровень юридической защиты. Компании, тесные ряды которых несколько лет назад разомкнулись, дабы впустить первую и единственную на территории России юридическую организацию, ассимилировавшую международный опыт под местные реалии. 
					p Имя ей — Московская юридическая компания.
					img(src="img/pic2.jpg", alt="")
					p Конечно, ситуация идеального баланса встречается нечасто. Именно поэтому юрист по трудовым спорам, вопросам любых типов – востребованный специалист. Различные неприятные ситуации могут возникнуть даже на стадии, когда отношения между работником и работодателем еще на начались (при отказе в приеме на работу, например) или уже закончились (при незаконных увольнениях). Решение трудовых споров входит в компетенцию таких органов, как мировой судья, суд общей юрисдикции, комиссия по трудовым спорам и т.д. Но, несмотря на это, каждому может потребоваться и независимая поддержка.

					p Она осуществляется юристом по трудовому законодательству. Обращаясь к грамотным профессионалам, Вы избавляете себя от массы проблем.
					img(src="img/pic3.jpg", alt="")
					h2 Как проходит работа в компании
					p Судебная практика демонстрирует то, что защита прав работников от произвола работодателей в сфере труда обеспечивается не в полной мере. Почвой для конфликтов становится как низкая квалификация работников кадровых служб, так и отсутствие четкого владения знаний в области законодательства руководящим составом и самими работниками. Далеко не каждый работодатель или специалист может самостоятельно защитить себя в сложной ситуации.
					p Но на помощь придет адвокат по трудовому праву. Причем он готов оказать поддержку:
					p Вам требуется юрист в области трудового кодекса? Не затягивайте с урегулированием ситуации.Своевременное обращение в Московскую юридическую компанию является залогом успешного ведения дела. 
					p Юрист по охране труда гарантированно защитит Ваши законные права.

