extends _template

block main
	// main-slider
	.main-slider(style="background-image: url('img/slide1.jpg')")
		.container
			.dots
			.main-slider__slider
				.table-cell
					ul#mainSlider
						li						
							strong.header Профессиональная юридическая <br> помощь в Москве	
							.text
								p Сотрудники Юридического центра «Фортуна» готовы оказать вам любую квалифицированную юридическую помощь
							a(href="#").btn.btn--whitebd Подробнее о нас
						li						
							strong.header  Lorem ipsum dolor sit amet, consectetur adipisisd
							.text
								p Сотрудники Юридического центра «Фортуна» готовы оказать вам любую квалифицированную юридическую помощь
							a(href="#").btn.btn--whitebd Подробнее о нас
						li						
							strong.header Профессиональная юридическая <br> помощь в Москве	
							strong.header Профессиональная юридическая <br> помощь в Москве	
							.text
								p Сотрудники Юридического центра «Фортуна» готовы оказать вам любую квалифицированную юридическую помощь
								p Сотрудники Юридического центра «Фортуна» готовы оказать вам любую квалифицированную юридическую помощь
								p Сотрудники Юридического центра «Фортуна» готовы оказать вам любую квалифицированную юридическую помощь
							a(href="#").btn.btn--whitebd Подробнее о нас
			.main-slider__form
				.slider-form
					form(action="#")
						input(type="hidden" name="subject" value="Бесплатная консультацию")
						p.title Заказать бесплатную консультацию
						p.desc Заполните форму и наши специалисты свяжутся с вами
						.input-set
							input(type="text" placeholder="Ваше имя")
							input(type="tel" placeholder="Телефон")
							input(type="email" placeholder="E-mail")
						input(type="submit" value="Отправить заявку").btn.btn--brown
			
	// main-slider end
	// services
	.main-services.bg-gray
		.container
			.main-services__nav
				ul
					li.active: a(href="fizlica")
						i.icm.icon-person.l
						span Физические лица
					li: a(href="urlica")
						i.icm 
						span Юридические лица
			.main-services__body
				.main-services__content.fizlica.active
					ul
						li.col
							a(href="#").service-item
								.icon-wrap: i.icon.icon-doc
								p.name Составление исков, жалоб, заявлений
								p Правовые консультации, составление контрактов, договоров и иных документов, помощь в переговорах и многое другое
						li.col
							a(href="#").service-item
								.icon-wrap: i.icon.icon-galst
								p.name Представительство в судах
								p Правовые консультации, составление контрактов, договоров и иных документов, помощь в переговорах и многое другое
						li.col
							a(href="#").service-item
								.icon-wrap: i.icon.icon-vesi
								p.name Помощь в уголовных делах
								p Правовые консультации, составление контрактов, договоров и иных документов, помощь в переговорах и многое другое
						li.col
							a(href="#").service-item
								.icon-wrap: i.icon.icon-dnk
								p.name Полное клиентское обслуживание компаний
								p Правовые консультации, составление контрактов, договоров и иных документов, помощь в переговорах и многое другое
						li.col
							a(href="#").service-item
								.icon-wrap: i.icon.icon-pen
								p.name Помощь при заключении или расторжении любых видов договоров
								p Правовые консультации, составление контрактов, договоров и иных документов, помощь в переговорах и многое другое
						li.col
							a(href="#").service-item
								.icon-wrap: i.icon.icon-chem
								p.name Решение вопросов, что относятся к корпоративному праву
								p Правовые консультации, составление контрактов, договоров и иных документов, помощь в переговорах и многое другое
				.main-services__content.urlica
					ul
						li.col
							a(href="#").service-item
								.icon-wrap: i.icon.icon-doc
								p.name  исков, жалоб, заявлений
								p Правовые консультации, составление контрактов, договоров и иных документов, помощь в переговорах и многое другое
						li.col
							a(href="#").service-item
								.icon-wrap: i.icon.icon-galst
								p.name Представительство в судах
								p Правовые консультации, составление контрактов, договоров и иных документов, помощь в переговорах и многое другое
						li.col
							a(href="#").service-item
								.icon-wrap: i.icon.icon-vesi
								p.name Помощь в уголовных делах
								p Правовые консультации, составление контрактов, договоров и иных документов, помощь в переговорах и многое другое
						li.col
							a(href="#").service-item
								.icon-wrap: i.icon.icon-dnk
								p.name Полное клиентское обслуживание компаний
								p Правовые консультации, составление контрактов, договоров и иных документов, помощь в переговорах и многое другое
						li.col
							a(href="#").service-item
								.icon-wrap: i.icon.icon-pen
								p.name Помощь при заключении или расторжении любых видов договоров
								p Правовые консультации, составление контрактов, договоров и иных документов, помощь в переговорах и многое другое
						li.col
							a(href="#").service-item
								.icon-wrap: i.icon.icon-chem
								p.name Решение вопросов, что относятся к корпоративному праву
								p Правовые консультации, составление контрактов, договоров и иных документов, помощь в переговорах и многое другое
	// services end
	// about
	.home-about
		.container
			.home-about__image
				img(src="img/pic.jpg", alt="")
			.home-about__text
				h2 О нас
				p Мы более 10 лет работаем в сфере предоставления юридических услуг физическим и юридическим лицам. Наш центр «Фортуна» - это место, в котором вас не только ждут, но и обязательно помогут! Если наш сотрудник взялся за решение вашего вопроса, то любое дело будет доведено до конца, т.е. до удачного завершения. Все виды юридических услуг.
				p Обращайтесь, если вам необходимо урегулировать семейные споры, составить брачный договор, отсудить алименты, рассчитать госпошлину, обжаловать апелляционный приговор и прочее.
				p Так же предусмотрена оказание юридической помощи нашими специалистами по программам домашний адвокат, семейный адвокат, бизнес адвокат, которые основаны на заключении долгосрочных договоров об оказании юридической помощи по гражданским, семейным и предпринимательским вопросам
	// about end
	// features
	section.main-features
		.container
			.section-header.white
				h2 Приемущества работы с нами
				p Почему заказывать юридические услуги стоит именно в нашем центре?
			.main-features__body.clearfix
				.main-features__item
					.icon-wrap: i.icon.icon-zont
					p.name Профессиональная консультация
					p Юридический центр "Фортуна" - это профессиональная юридическая консультация в Москве. Мы более 10 лет успешно решаем сложные правовые проблемы физических и юридических лиц, в наиболее актуальных областях гражданского, налогового, корпоративного, семейного, трудового, жилищного, уголовного и другого права.
				.main-features__item
					.icon-wrap: i.icon.icon-galst
					p.name Профессиональная консультация
					p Юридический центр "Фортуна" - это профессиональная юридическая консультация в Москве. Мы более 10 лет успешно решаем сложные правовые проблемы физических и юридических лиц, в наиболее актуальных областях гражданского, налогового, корпоративного, семейного, трудового, жилищного, уголовного и другого права.
				.main-features__item
					.icon-wrap: i.icon.icon-bank
					p.name Профессиональная консультация
					p Юридический центр "Фортуна" - это профессиональная юридическая консультация в Москве. Мы более 10 лет успешно решаем сложные правовые проблемы физических и юридических лиц, в наиболее актуальных областях гражданского, налогового, корпоративного, семейного, трудового, жилищного, уголовного и другого права.
	// features end
	// services-list
	section.services-list.bg-gray
		.container
			.section-header
				h2 Все наши услуги
			.services-list__list.bg-white.clearfix
				ul
					li Уголовное право
					li Наследственные споры
					li Административные нарушения
					li Взыскание долгов
					li Помощь призывникам 
					li Трудовые правоотношения
					li Налоговые споры
					li Корпоративное право
					li Экономические преступления
					li Помощь юриста по алиментам
					li Помощь адвоката: заявление в суд
					li Сопровождение банкротства
					li Адвокат по наследственным делам
					li Жилищные вопросы
					li Страховые случаи
					li Защита прав потребителей
					li Составление правовых документов
					li Исполнительное производство
					li Уголовные дела
					li Судебное представительство
					li Автоюрист
					li Досудебное урегулирование споров
					li Юрист по бракоразводным процессам
					li Адвокат по алиментам
					li Услуги юриста при покупке квартиры
					li Банковский юрист
					li Семейные тяжбы
					li Консультация по недвижимости
					li Защита собственности
					li Личный адвокат
					li Услуга "Антиколлектор"
					li Интеллектуальная собственность 
					li Медицинский юрист
					li Земельные вопросы
					li Арбитражный адвокат
					li Юрист по уголовным делам
					li Сделки с недвижимостью
					li Адвокат по банковским делам
					li Финансы и кредит
	// services-list end
	// home-contacts
	.home-contacts
		.container
			.col-66
				.contacts-form
					.medium-title Закажите бесплатную консультацию
					.contacts-form__body.clearfix
						form(action="#")
						.col-33
							input(required type="text" placeholder="Ваше имя")
							input(required type="tel" placeholder="Телефон")
							input(required type="email" placeholder="E-mail")
							
						.col-66
							textarea(placeholder="Тест сообщения")
						input(type="submit").btn.btn--brown
			.col-33
				.contacts-block
					.medium-title Посетите наш офис
					.list-name Адрес
					ul
						li м. Щукинская,
						li ул. Маршала Василевского,
						li д. 17, 3 этаж
					.list-name Телефон
					ul
						li.tel +7 (495) 968 30 80
					.list-name Email
					ul
						li uristmsk24@gmail.com
						
	// home-contacts end
