extends _template

block main
	.inner-page.bg-gray
		.inner-page__header
			.container
				ul.breadcrumbs
					li: a(href="#") Главная
					li.active Услуги
				h1 Услуги
		.container
			.inner-left
				.inner-section
					include includes/left-menu
			.inner-right
				.inner-section
					h2 Стоимость и тарифы на услуги
					p Сегодня стоимость юридических услуг в Москве различается в разных компаниях весьма существенно Московская юридическая компания рада предложить поддержку на оптимальных условиях. Мы максимально открыты для сотрудничества и рады предоставить своим клиентам полноценную информацию об особенностях предоставления услуг.
					.table.price-table
						table
							thead
								tr
									th(colspan="2") Полное (комплексное) сопровождение дел в судах
							tbody
								tr
									td Физические лица
									td от 28 000 руб.
								tr
									td Юридические лица
									td от 47 000 руб
					.table.price-table
						table
							thead
								tr
									td(colspan="2") Отдельные виды юридической помощи физическим лицам
							tbody
								tr
									td Устная юридическая консультация (без анализа материалов дела)
									td от 28 000 руб.
								tr
									td Составление и анализ договоров
									td от 47 000 руб
								tr
									td Составление жалоб, заявлений, ходатайств, требований, претензий
									td от 28 000 руб.
								tr
									td Письменное заключение (не более 1000 знаков)
									td от 47 000 руб
								tr
									td Оформление адвокатского запроса на получение документа
									td от 28 000 руб.
								tr
									td Ознакомление с материалами дела в офисе (до 50 листов А4)
									td от 47 000 руб
								tr
									td Ознакомление с материалами дела в месте нахождения документов
									td от 28 000 руб.
								tr
									td Проведение адвокатского опроса очевидца, свидетеля, эксперта и др.
									td от 47 000 руб
								tr
									td Досудебное урегулирование споров (медиация)	
									td от 28 000 руб.
								tr
									td Письменное заключение (не более 1000 знаков)
									td от 47 000 руб
								tr
									td Оформление адвокатского запроса на получение документа
									td от 28 000 руб.
								tr
									td Ознакомление с материалами дела в офисе (до 50 листов А4)
									td от 47 000 руб
								tr
									td Ознакомление с материалами дела в месте нахождения документов
									td от 28 000 руб.
								tr
									td Проведение адвокатского опроса очевидца, свидетеля, эксперта и др.
									td от 47 000 руб
								tr
									td Досудебное урегулирование споров (медиация)	
									td от 28 000 руб.
								tr
									td Письменное заключение (не более 1000 знаков)
									td от 47 000 руб
					p Теперь Вы знаете, сколько стоит нанять адвоката. Осталось обратиться за помощью в Московскую юридическую компанию. Позвоните нам и получите лучшие условия обращения к нам в любое время!

