extends _template

block main
	.inner-page.bg-gray
		.inner-page__header
			.container
				ul.breadcrumbs
					li: a(href="#") Главная
					li.active Услуги
				h1 Услуги
		// services
		.main-services.bg-gray
			.container
				.main-services__nav
					ul
						li.active: a(href="fizlica")
							i.icm.icon-person.l
							span Физические лица
						li: a(href="urlica")
							i.icm 
							span Юридические лица
				.main-services__body
					.main-services__content.fizlica.active
						ul
							li.col
								a(href="#").service-item
									.icon-wrap: i.icon.icon-doc
									p.name Составление исков, жалоб, заявлений
									p Правовые консультации, составление контрактов, договоров и иных документов, помощь в переговорах и многое другое
							li.col
								a(href="#").service-item
									.icon-wrap: i.icon.icon-galst
									p.name Представительство в судах
									p Правовые консультации, составление контрактов, договоров и иных документов, помощь в переговорах и многое другое
							li.col
								a(href="#").service-item
									.icon-wrap: i.icon.icon-vesi
									p.name Помощь в уголовных делах
									p Правовые консультации, составление контрактов, договоров и иных документов, помощь в переговорах и многое другое
							li.col
								a(href="#").service-item
									.icon-wrap: i.icon.icon-dnk
									p.name Полное клиентское обслуживание компаний
									p Правовые консультации, составление контрактов, договоров и иных документов, помощь в переговорах и многое другое
							li.col
								a(href="#").service-item
									.icon-wrap: i.icon.icon-pen
									p.name Помощь при заключении или расторжении любых видов договоров
									p Правовые консультации, составление контрактов, договоров и иных документов, помощь в переговорах и многое другое
							li.col
								a(href="#").service-item
									.icon-wrap: i.icon.icon-chem
									p.name Решение вопросов, что относятся к корпоративному праву
									p Правовые консультации, составление контрактов, договоров и иных документов, помощь в переговорах и многое другое
							li.col
								a(href="#").service-item
									.icon-wrap: i.icon.icon-chem
									p.name Решение вопросов, что относятся к корпоративному праву
									p Правовые консультации, составление контрактов, договоров и иных документов, помощь в переговорах и многое другое
							li.col
								a(href="#").service-item
									.icon-wrap: i.icon.icon-chem
									p.name Решение вопросов, что относятся к корпоративному праву
									p Правовые консультации, составление контрактов, договоров и иных документов, помощь в переговорах и многое другое
							li.col
								a(href="#").service-item
									.icon-wrap: i.icon.icon-chem
									p.name Решение вопросов, что относятся к корпоративному праву
									p Правовые консультации, составление контрактов, договоров и иных документов, помощь в переговорах и многое другое
							li.col
								a(href="#").service-item
									.icon-wrap: i.icon.icon-chem
									p.name Решение вопросов, что относятся к корпоративному праву
									p Правовые консультации, составление контрактов, договоров и иных документов, помощь в переговорах и многое другое
							li.col
								a(href="#").service-item
									.icon-wrap: i.icon.icon-chem
									p.name Решение вопросов, что относятся к корпоративному праву
									p Правовые консультации, составление контрактов, договоров и иных документов, помощь в переговорах и многое другое
							li.col
								a(href="#").service-item
									.icon-wrap: i.icon.icon-chem
									p.name Решение вопросов, что относятся к корпоративному праву
									p Правовые консультации, составление контрактов, договоров и иных документов, помощь в переговорах и многое другое
							li.col
								a(href="#").service-item
									.icon-wrap: i.icon.icon-chem
									p.name Решение вопросов, что относятся к корпоративному праву
									p Правовые консультации, составление контрактов, договоров и иных документов, помощь в переговорах и многое другое
							li.col
								a(href="#").service-item
									.icon-wrap: i.icon.icon-chem
									p.name Решение вопросов, что относятся к корпоративному праву
									p Правовые консультации, составление контрактов, договоров и иных документов, помощь в переговорах и многое другое
							li.col
								a(href="#").service-item
									.icon-wrap: i.icon.icon-chem
									p.name Решение вопросов, что относятся к корпоративному праву
									p Правовые консультации, составление контрактов, договоров и иных документов, помощь в переговорах и многое другое
							li.col
								a(href="#").service-item
									.icon-wrap: i.icon.icon-chem
									p.name Решение вопросов, что относятся к корпоративному праву
									p Правовые консультации, составление контрактов, договоров и иных документов, помощь в переговорах и многое другое
							li.col
								a(href="#").service-item
									.icon-wrap: i.icon.icon-chem
									p.name Решение вопросов, что относятся к корпоративному праву
									p Правовые консультации, составление контрактов, договоров и иных документов, помощь в переговорах и многое другое
							li.col
								a(href="#").service-item
									.icon-wrap: i.icon.icon-chem
									p.name Решение вопросов, что относятся к корпоративному праву
									p Правовые консультации, составление контрактов, договоров и иных документов, помощь в переговорах и многое другое
							li.col
								a(href="#").service-item
									.icon-wrap: i.icon.icon-chem
									p.name Решение вопросов, что относятся к корпоративному праву
									p Правовые консультации, составление контрактов, договоров и иных документов, помощь в переговорах и многое другое
							li.col
								a(href="#").service-item
									.icon-wrap: i.icon.icon-chem
									p.name Решение вопросов, что относятся к корпоративному праву
									p Правовые консультации, составление контрактов, договоров и иных документов, помощь в переговорах и многое другое
					.main-services__content.urlica
						ul
							li.col
								a(href="#").service-item
									.icon-wrap: i.icon.icon-doc
									p.name  исков, жалоб, заявлений
									p Правовые консультации, составление контрактов, договоров и иных документов, помощь в переговорах и многое другое
							li.col
								a(href="#").service-item
									.icon-wrap: i.icon.icon-galst
									p.name Представительство в судах
									p Правовые консультации, составление контрактов, договоров и иных документов, помощь в переговорах и многое другое
							li.col
								a(href="#").service-item
									.icon-wrap: i.icon.icon-vesi
									p.name Помощь в уголовных делах
									p Правовые консультации, составление контрактов, договоров и иных документов, помощь в переговорах и многое другое
							li.col
								a(href="#").service-item
									.icon-wrap: i.icon.icon-dnk
									p.name Полное клиентское обслуживание компаний
									p Правовые консультации, составление контрактов, договоров и иных документов, помощь в переговорах и многое другое
							li.col
								a(href="#").service-item
									.icon-wrap: i.icon.icon-pen
									p.name Помощь при заключении или расторжении любых видов договоров
									p Правовые консультации, составление контрактов, договоров и иных документов, помощь в переговорах и многое другое
							li.col
								a(href="#").service-item
									.icon-wrap: i.icon.icon-chem
									p.name Решение вопросов, что относятся к корпоративному праву
									p Правовые консультации, составление контрактов, договоров и иных документов, помощь в переговорах и многое другое
		// services end