extends _template

block main
	.inner-page.bg-gray
		.inner-page__header
			.container
				ul.breadcrumbs
					li: a(href="#") Главная
					li: a(href="#") Услуги
					li.active Решение вопросов, что относятся к корпоративному праву
				h1 Услуги
		.container
			.inner-left
				.inner-section
					include includes/left-menu
			.inner-right
				.inner-section
					h2 Решение вопросов, что относятся к корпоративному праву
					p Существует множество проблем, при разрешении которых требуется юрист по трудовым спорам. В нем Вы можете нуждаться при:
					ul.ul
						li Незаконных увольнениях.
						li Значительных задержках в выплате заработной платы.
						li Необоснованном отказе в приеме на работу.
						li Нарушениях иных пунктов действующего законодательства.
					p Причиной возникшего конфликта может стать и недобросовестный работник. Поэтому зачастую юрист по трудовому праву требуется и работодателям.
					p Между тем, только выверенный, оптимальный баланс взаимоотношений способен не просто помочь в поддержании корпоративного духа, высокой конкурентоспособности организации, но и избежать возникновения проблем в коллективе. 
					img(src="img/pic1.jpg", alt="")
					p Конечно, ситуация идеального баланса встречается нечасто. Именно поэтому юрист по трудовым спорам, вопросам любых типов – востребованный специалист. Различные неприятные ситуации могут возникнуть даже на стадии, когда отношения между работником и работодателем еще на начались (при отказе в приеме на работу, например) или уже закончились (при незаконных увольнениях). Решение трудовых споров входит в компетенцию таких органов, как мировой судья, суд общей юрисдикции, комиссия по трудовым спорам и т.д. Но, несмотря на это, каждому может потребоваться и независимая поддержка.
					p Она осуществляется юристом по трудовому законодательству. Обращаясь к грамотным профессионалам, Вы избавляете себя от массы проблем.
					h2 Судебная практика по трудовым спорам. Разрешение сложных вопросов
					p Судебная практика демонстрирует то, что защита прав работников от произвола работодателей в сфере труда обеспечивается не в полной мере. Почвой для конфликтов становится как низкая квалификация работников кадровых служб, так и отсутствие четкого владения знаний в области законодательства руководящим составом и самими работниками. Далеко не каждый работодатель или специалист может самостоятельно защитить себя в сложной ситуации.
					p Но на помощь придет адвокат по трудовому праву. Причем он готов оказать поддержку:
					ul.ul
						li Незаконных увольнениях.
						li Значительных задержках в выплате заработной платы.
						li Необоснованном отказе в приеме на работу.
						li Нарушениях иных пунктов действующего законодательства.
					p Вам требуется юрист в области трудового кодекса? Не затягивайте с урегулированием ситуации. Своевременное обращение в Московскую юридическую компанию является залогом успешного ведения дела.
					p Юрист по охране труда гарантированно защитит Ваши законные права.