@import "settings/mixins";
/*-------------------------------------------------*/
/*    bootstrap
/*-------------------------------------------------*/
@import "libs/bootstrap-grid.scss";
// @import "libs/normalize";
/*-------------------------------------------------*/
/*    boilerplate
/*-------------------------------------------------*/
@import "libs/boilerplate";
/*-------------------------------------------------*/
/*    fancybox
/*-------------------------------------------------*/
@import "libs/fancybox";
/*-------------------------------------------------*/
/*    owl-carousel
/*-------------------------------------------------*/
@import "libs/owl.carousel";
/*-------------------------------------------------*/
/*    animate
/*-------------------------------------------------*/
@import "libs/animate";
/*-------------------------------------------------*/
/*    sprite
/*-------------------------------------------------*/
@import "settings/sprite";
/*-------------------------------------------------*/
/*    fonts
/*-------------------------------------------------*/
@import "settings/fonts";
/*-------------------------------------------------*/
/*    sprites
/*-------------------------------------------------*/
@include sprites($spritesheet-sprites);
.icon{
    @extend .dib;
}


/*-------------------------------------------------*/
/*  author styles
/*-------------------------------------------------*/

$brown: #6e392b;



/*-------------------------------------------------*/
/*  elements
/*-------------------------------------------------*/

body{
  font-family:"Gotham Pro";
  font-size: 13px;
  line-height:18/13+em;
  color: #373737;
  background-color: #fff;
}

.container{
  width: 1184px;
  margin: 0 auto;
}

h2,.h2{
  font-size: 30px;
  font-weight: 500;
  line-height: 1em;
  color: #352b28;
}

h3,.h3{
  font-size: 16px;
  font-weight: 500;
  line-height:21/16+em;
}

.main-logo{
  @extend .dib;
  background-color: $brown;
  padding: 33px 30px;
}

/*-------------------------------------------------*/
/*  main-header
/*-------------------------------------------------*/

.white-clr{
  color: white;
}

.main-logo{
  position: absolute;
  top: 0;
  left: 0;
  &__wrap{
    position: relative;
  }
}
.main-header{
    
    @extend .clearfix;
    .callback-info{
        float: right;
    }
    
    &__top{

        color: white;
        background-color: #352b28;
        .container{
            padding-left: 200px;    
            position: relative;
        }
    }
}



/*-------------------------------------------------*/
/*  helper classes
/*-------------------------------------------------*/

.dib{
    display: inline-block;
    vertical-align: middle;
}

.fl-left{
    float: left;
}
.fl-right{
    float:right;
}
.ta-left{
    text-align: left;
    text-align-last: left;
}
.ta-center{
    text-align: center;
    text-align-last: center;
}
.ta-right{
    text-align: right;
    text-align-last: right;
}
.blocks-justify{
	width: 100%;

	text-align: justify;
	
	/* Обнуляем для родителя*/
	line-height: 0;
	font-size: 1px; /* 1px для Opera */
	
	/* Лекарство для IE6-7*/
	text-justify: newspaper;
	zoom:1;
	
	/* Включаем в работу последнюю строку*/		
	text-align-last: justify;
	&:after	{
		width: 100%; 
		height: 0px;
		visibility: hidden;
		overflow: hidden;
		content: '';
		display: inline-block;
	}
	& > div	{
		display: inline-block;
		text-align: left;
		text-align-last: left;
		/* Востанавливаем у потомков, кроме последнего*/
		line-height: normal;
		font-size: 16px;
		
		/* Без него в Opera будет отступ под элементами */
		vertical-align: top; 
		
		/* эмуляция inline-block для IE6-7*/
		//display : inline;
		//zoom : 1;
	}
}
.hidden {
    display: none !important;
    visibility: hidden;
}
.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}
.invisible {
    visibility: hidden;
}
.container:before,
.container:after,
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.container:after,
.clearfix:after {
    clear: both;
}
.container,
.clearfix {
    *zoom: 1;
}
/*-------------------------------------------------*/
/*    media
/*-------------------------------------------------*/
@import 'media';
